table,
th,
td {
    border: 1px solid;
}

table {
    width: 100%;
    max-width: 800px;
    /* height: 240px; */
    margin: 0 auto;
    display: block;
    overflow-x: auto;
    border-spacing: 0;
}

tbody {
    white-space: nowrap;
}

th,
td {
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

th {
    position: sticky;
    top: 0;
    background: #fff;
    vertical-align: bottom;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

.footer {
    height: 50px;
}

.footer-center {
    text-align: center;
}

.button-round {
    background-color: aquamarine;
    border-radius: 10px;
}

.create-new {
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: auto;
}

/* 新規イベント作成 */
#modal-content{
	width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
}

.modal-p{
	margin-top:1em;
}

.modal-p:first-child{
	margin-top:0;
}

.button-link{
	color:#00f;
	text-decoration:underline;
}
 
.button-link:hover{
	cursor:pointer;
	color:#f00;
}